@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --progress-bar: #EFEEEE;
    --switch-background: #D2D2D2;
    --white: #FFFFFF;
    --dark-blue: #6296f5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

.container {
    position: relative;
    width: 600px;
    height: 320px;
    margin: 50px auto;
    background-color: var(--white);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;;
}

.title {
    position: absolute;
    top: 0;
    left: 0;
}

/* Progress bar */
.progress-bar {
    height: 170px;
    width: 170px;
    border-radius: 50%;
    background: conic-gradient(var(--dark-blue) 0deg, var(--progress-bar) 0deg);
    transition: all ease 0.8s;

    display: flex;
    align-items: center;
    justify-content: center;
}

.progress-bar::before {
    content: '';
    height: 140px;
    width: 140px;
    border-radius: 50%;
    background: var(--white);
}

/* States */
.progress-states {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.state {
    display: flex;
    align-items: center;
}

input, label.switch {
    width: 60px;
    height: 40px;
    border-radius: 50px;
    margin-right: 20px;
}

input#progress-value {
    text-align: center;
    border: 1px solid black;
}

/* Switch */
.switch {
    background: var(--switch-background);
    cursor: pointer;
    position: relative;
    transition: 0.3s;
}

.switch::before {
    position: absolute;
    content: '';
    background-color: var(--white);
    width: 33px;
    height: 33px;
    border-radius: 50px;
    margin: 3px;
    transition: 0.3s;
}

input[type='checkbox']:checked + .switch {
    background-color: var(--dark-blue);
}

input[type='checkbox']:checked + .switch::before {
    transform: translateX(21px);
}

input[type='checkbox'] {
    display: none;
}

/* General */
.hidden {
    /*display: none;*/
    opacity: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

@media screen and (orientation: portrait) {
    .container {
        height: 600px;
        width: 320px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;;
    }
}